<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
    Create New Quote
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Quote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)='submitGoal()' #goalForm='ngForm'>
                    <div class="form-group">
                        <label for="name">Full name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.user" name="name"
                            #name='ngModel' required>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            <p>Name is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Author</label>
                        <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.author"
                            name="author" #description="ngModel" required></textarea>
                        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                            <p>Author is required</p>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="complete">Quote</label>
                        <input type='date' id="quote" [(ngModel)]="newQuote.quote" name="quote"
                            #completeDate="ngModel" required>
                        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                            <p>Date is required</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)='resetFields()'>Clear</button>
                        <button type="submit" class="btn btn-primary">Add Goal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>