@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@400;700&display=swap');

.delete{
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    cursor:pointer;
}

h2{
    font-size: 70px;
    font-family: 'Merienda', cursive;
}